
.addAppointment{
    background-color: rgb(16, 221, 16);
    color: aliceblue;
    margin-right: 20px;
    width: 100px;
    border: none;
}
.addAppointment:hover{
    width: 110px;
    height: 40px;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}
.appointmentHistory{
    background-color: rgb(12, 176, 201);
    color: aliceblue;
    margin-right: 20px;
    width: 100px;
    border: none;
}
.appointmentHistory:hover{
    width: 110px;
    height: 40px;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}
.history{
    box-shadow: rgba(27, 120, 226, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
    width: 300px;
    margin: auto;
    margin-top: 10px;
  
}